<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <style>
        body {
            background: #fff;
        }

        .navbar {
            min-height: 5rem;
        }
        @media screen and (max-width: 991px) {
            .dropdown-menu {
                position: relative;
                float: none;
                width: 1px;
            }
        }

        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-25%, -50%);
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin">Task Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/admin">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/create-task}">Create Task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/tasks}">Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/users}">Users</a>
            </li>

        </ul>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${email}" >
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" th:href="@{/view-admin-profile}">View Profile</a>
                <a class="dropdown-item" th:href="@{/logout}">Log out</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div th:if="${taskAnswerDetail == null}">
        <h3>Sorry! This task is not found.</h3>
    </div>
    <div th:if="${taskAnswerDetail != null}">
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                <h6 class="card-title">Title: <small class="text muted" th:text="${taskAnswerDetail.taskName}"></small></h6>
                <h6 class="card-subtitle">Submitted By: <small class="text-muted" th:text="${taskAnswerDetail.email}"></small></h6>
                <br>
                <p class="card-text" th:text="${taskAnswerDetail.answer}"></p>
                <p class="card-text">Submitted On: <small class="text-muted" th:text="${taskAnswerDetail.createdAt}"></small></p>
                <p class="card-text">Updated On: <small class="text-muted" th:text="${taskAnswerDetail.updatedAt}"></small></p>                0
            </div>
        </div>
    </div>
</div>

</body>
</html>